<h4><%=@pregunta.titulo%></h4>

<form method="POST" action="/ganaste">
    <button type="submit" id="opcionA" name="opcionA">
        <%=@pregunta.opciones[0]%>
    </button>
</form>

<form method="POST" action="/perdiste">
    <button type="submit" id="opcionB" name="opcionB">
        <%=@pregunta.opciones[1]%>        
    </button>
</form>