<h4>Cuanto es 2 mas 2</h4>
<form method="POST" action="/ganaste">
    <button type="submit" id="opcionA" name="opcionA">4</button>
</form>

<form method="POST" action="/perdiste">
    <button type="submit" id="opcionB" name="opcionB">5</button>
</form>