<!-- <h1>Bienvenido a Quien quiere ser Beniniano</h1>

<form action="/pregunta/1" method="GET" class="col s12">
  <div class="row">
    <div class="col s12">
      Con que nombre desea jugar:
      <div class="input-field inline">
        <input
          type="text"
          name="nombreJugador"
          id="nombreJugador"
          placeholder="Enyel"
        />
        <label for="nombreJugador">Nombre del jugador</label>
      </div>
    </div>
  </div>
  <button
    class="waves-effect waves-light btn"
    type="submit"
    value="Jugar!"
    id="jugar"
  >
    Jugar!
  </button>
</form> -->
<form action="/pregunta/1" method="GET" class="col s12 row">
    
</br>
<div class="row center-align">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image margin-sm">
        <img class="fixed-card-image"
          src="https://irreductible.naukas.com/files/2010/04/moneda-20benin.jpg"
        />
      </div>
      <div class="card-content">
        <span class="card-title black-text">
            <h1>Bienvenido a Quien quiere ser Beniniano</h1>
            Fun fact: El benin</span>
        <p>
          La República de Benin acaba de lanzar una serie numismática dedicada a
          las plantas más famosas del mundo. Entre las monedas conmemorativas
          destaca por encima de todas una de 100 francos dedicada a la célebre
          Cannabis sativa o marihuana.

        </br>

          Por ello, organizan este concurso.

          
        </p>
      </div>
      <div class="card-action">
        
            <div class="col s12">
                    Con que nombre desea jugar:
                    <div class="input-field inline">
                    <input
                        type="text"
                        name="nombreJugador"
                        id="nombreJugador"
                        placeholder="Enyel"
                    />
                    <label for="nombreJugador">Nombre del jugador</label>
                    </div>
                </div>
                <button
                class="waves-effect waves-light btn"
                type="submit"
                value="Jugar!"
                id="jugar"
                >
                Jugar!
                </button>
      
        </div>
    </div>
  </div>
</div>
</form>

<style>
.fixed-card-image{
    max-height: 12em;   
    width: auto !important;
    margin: 20px auto !important ;
    padding: 20px 0 0 0;
}
</style>